* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #4D4C59;
  --purple: #6C63FF;
  --light-grey: #C8C8C8;
  --text-color: #9C9AB6;
}

/*====================================================*/

body {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

/*==== Imagens ======*/
body .img-top,
.img-bottom {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.img-top {
  top: 0;
}

.img-bottom {
  bottom: 0;
}

section .img-rocket {
  width: 45%;
  margin-left: 90px;

}

/*=================================*/

section {
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

section .main-page h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--purple);
  margin-bottom: 19px;
}

section #countdown #count-timer {
  display: flex;
}

section #countdown .timer {
  /*border: 1px red solid;*/
  margin-right: 12px;

}



section #countdown .info-p {
  font-size: 0.85rem;
  color: var(--light-grey);
  text-align: center;
  width: 100px;
}

section #countdown span {
  font-size: 4.5rem;
  color: var(--light-grey);
  /*border: 1px solid blue;*/
}

section #countdown span::after {
  content: ':';
  margin-left: 10px;
}

section #countdown #seconds:last-child::after {
  content: '';
}



section .inscreva {
  text-align: center;
}

section .inscreva p {
  font-size: 0.85rem;
  color: var(--text-color);
  margin-bottom: 31px;
}

section .inscreva button {
  padding: 10px 32px;
  background-color: var(--purple);
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

section .inscreva button:hover {
  background-color: #3b31fa;
  transition: 0.3s;
}